.container {
  display: flex;
  background-color: #282c34;
  color: rgb(255, 255, 255);
  height: 100vh;
  width: 100vw;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: purple;
  color: white;
  border: none;
  height: 6rem;
  width: 6rem;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50%;
  margin: 20px;
}

span {
  position: absolute;
  background-color: #282c34;
  top: 80%;
  left: 42.7%;
}
